<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-4.0.xsd 
      http://www.springframework.org/schema/mvc 
      http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<mvc:annotation-driven />
	<!-- 自动扫描包 -->
	<context:component-scan base-package="com.gxkjt.**.controller,com.gxkjt.**.service,com.zkdj.shiro" />
	
	<!--静态资源防过滤配置 -->
	<mvc:default-servlet-handler />

	<!-- 默认访问跳转到登录页面(即定义无需Controller的url<->view直接映射) -->
	<mvc:view-controller path="/" view-name="forward:/login.jsp" />
	
	<!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->
	<!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!-- 遇到MaxUploadSizeExceededException异常时，自动跳转到/WEB-INF/jsp/error_fileupload.jsp页面 -->
				<prop
					key="org.springframework.web.multipart.MaxUploadSizeExceededException">error_fileupload</prop>
			</props>
		</property>
	</bean>
	<!-- mvc返回页面的配置 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="ApplicationContextHelper" class="org.pcloud.spring.common.ApplicationContextHelper"/>
	
	<mvc:resources mapping="/pages/**" location="/pages/" cache-period="31556926" />
	<mvc:resources mapping="/source/**" location="/source/" cache-period="31556926" />
</beans>
